edu.rice.cs.hpc.data/bin/
edu.rice.cs.hpc.filter/bin/
edu.rice.cs.hpc.remote/bin/
edu.rice.cs.hpcbase/bin/
edu.rice.cs.hpctraceviewer.data/bin/
edu.rice.cs.hpctraceviewer.ui/bin/
edu.rice.cs.hpcviewer.ui/bin/
externals/graphbuilder/bin/
