# SPDX-FileCopyrightText: Contributors to the HPCToolkit Project
#
# SPDX-License-Identifier: CC0-1.0

# Generated during a typical Maven build
.polyglot.*
target/

# Build directory used by Eclipse IDE
bin/

# Eclipse IDE local configuration
.settings/
