<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<!--
SPDX-FileCopyrightText: Contributors to the HPCToolkit Project

SPDX-License-Identifier: Apache-2.0
--><target name="target-platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
            <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.swtbot.e4.finder" version="0.0.0"/>
            <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
        </location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/swtchart/releases/0.14.0/repository"/>
			<unit id="org.eclipse.swtchart.feature.feature.group" version="0.14.0.202301260747"/>
			<unit id="org.eclipse.swtchart.feature.source.feature.group" version="0.14.0.202301260747"/>
		</location>
    	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
        	<repository location="https://download.eclipse.org/nattable/releases/2.4.0/repository/"/>
        	<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="2.4.0.202405230453"/>
        	<unit id="org.eclipse.nebula.widgets.nattable.extension.e4.feature.feature.group" version="2.4.0.202405230453"/>
        	<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="2.4.0.202405230453"/>
    	</location>
    	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
        	<repository location="https://download.eclipse.org/releases/2024-06/"/>
        	<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.7.200.v20240515-1919"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.1200.v20240524-2033"/>
        	<unit id="ch.qos.logback.classic" version="1.5.6"/>
        	<unit id="slf4j.api" version="2.0.13"/>
        	<unit id="org.eclipse.sdk.feature.group" version="4.32.0.v20240601-0610"/>
    	</location>
    	<location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" includeSource="true" missingManifest="ignore" type="Maven">
        	<dependencies>
            	<dependency>
                	<groupId>com.github.mwiede</groupId>
                	<artifactId>jsch</artifactId>
                	<version>0.2.17</version>
                	<type>jar</type>
            	</dependency>
                <dependency>
                    <groupId>io.vavr</groupId>
                    <artifactId>vavr</artifactId>
                    <version>0.10.4</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.graphbuilder</groupId>
                    <artifactId>graphbuilder</artifactId>
                    <version>1.0.1-SNAPSHOT</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-numbers-core</artifactId>
                    <version>1.2</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.hpctoolkit.db</groupId>
                    <artifactId>protocol</artifactId>
                    <version>1.0.0-SNAPSHOT</version>
                    <type>jar</type>
                </dependency>
            	<dependency>
                	<groupId>org.hpctoolkit.db</groupId>
                	<artifactId>client</artifactId>
                	<version>1.0.0-SNAPSHOT</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.hpctoolkit.db</groupId>
                	<artifactId>local</artifactId>
                	<version>1.0.0-SNAPSHOT</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.mockito</groupId>
                	<artifactId>mockito-core</artifactId>
                	<version>4.9.0</version>
                	<type>jar</type>
            	</dependency>
        	</dependencies>
        	<repositories>
            	<repository>
                	<id>hpctoolkit-graphbuilder</id>
                	<url>https://gitlab.com/api/v4/projects/41839949/packages/maven</url>
            	</repository>
            	<repository>
                	<id>hpctoolkit-database</id>
                	<url>https://gitlab.com/api/v4/projects/64370952/packages/maven</url>
            	</repository>
        	</repositories>
    	</location>
	</locations>
</target>