<?xml version="1.0" encoding="UTF-8"?>

<!--
SPDX-FileCopyrightText: Contributors to the HPCToolkit Project

SPDX-License-Identifier: Apache-2.0
-->

<?eclipse version="3.4"?>
<plugin>

   <extension
         id="hpcviewer"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="hpcviewer">
         <property
               name="appName"
               value="hpcviewer">
         </property>
         <property
               name="aboutImage"
               value="resources/hpcviewerEclipse64.gif">
         </property>
         <property
               name="aboutText"
               value="hpcviewer is a user interface for analyzing a database of performance metrics in conjunction with an application’s source code.&#x0A;&#x0A;hpcviewer is a tool of the HPCToolkit Project (hpctoolkit.org). HPCToolkit is a project of the High Performance Software Foundation (HPSF) and the Linux Foundation.&#x0A;Research and development of hpcviewer is currently supported by&#x0A;* Department of Energy, Software Tools Ecosystem Project (STEP), UT-Battelle, LLC, Subcontract CW54422&#x0A;* Lawrence Livermore National Laboratory, Subcontract B645220&#x0A;* Argonne National Laboratory, Subcontract 4F-60094&#x0A;* Total E&amp;P Research and Technology USA, LLC&#x0A;* Advanced Micro Devices">
         </property>
         <property
               name="windowImages"
               value="resources/hpcviewerEclipse16.gif,resources/hpcviewerEclipse32.gif,resources/hpcviewerEclipse48.gif,resources/hpcviewerEclipse64.gif,resources/hpcviewerEclipse128.gif,resources/hpcviewerEclipse256.gif">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/edu.rice.cs.hpcviewer.ui/css/default.css">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://edu.rice.cs.hpcviewer.ui/edu.rice.cs.hpcviewer.ui.addon.LifeCycle">
         </property>
         <property
               name="startupForegroundColor"
               value="CDAB8F">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
