<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="hpcviewer"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="hpcviewer">
         <property
               name="appName"
               value="hpcviewer">
         </property>
         <property
               name="aboutImage"
               value="resources/hpcviewer64.gif">
         </property>
         <property
               name="aboutText"
               value="hpcviewer is a user interface for analyzing a database of performance metrics in conjunction with an application&apos;s source code.&#x0A;&#x0A;hpcviewer is part of Rice University&apos;s HPCToolkit project. Development of HPCToolkit is principally funded by the Department of Energy&apos;s Office of Science, Lawrence Livermore National Laboratory and National Science Foundation.">
         </property>
         <property
               name="windowImages"
               value="resources/hpcviewerEclipse16.gif,resources/hpcviewerEclipse32.gif,resources/hpcviewerEclipse48.gif,resources/hpcviewerEclipse64.gif,resources/hpcviewerEclipse128.gif,resources/hpcviewerEclipse256.gif">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/edu.rice.cs.hpcviewer.ui/css/default.css">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://edu.rice.cs.hpcviewer.ui/edu.rice.cs.hpcviewer.ui.addon.LifeCycle">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="edu.rice.cs.hpcviewer.ui.definition.zoom">
         <with
               variable="org.eclipse.ui.selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="edu.rice.cs.hpc.data.experiment.scope.Scope">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
